#{$all-buttons}
    margin-left: 10%
    color: white
    background-color: #D3963B
    box-shadow: -4px 4px 0 shade(#D3963B, 20%)
    height: 35px
    border: solid 1px #333
    font-size: 1.1em
    font-family: $verdana
    
    
#{$all-buttons-active}
    position: relative
    top: 2px
    left: -2px
    box-shadow: -2px 2px 0

#submitButton
    display: inline